
<div id="symgrid-{{ grid.identifier }}" class="{{ grid.classes|join(' ') }} loading" data-identifier="{{ grid.identifier }}" data-title="{{ grid.title }}">

    <div class="error-message">Unfortunately an error occured during the loading of the grid content. Sorry!</div>

    <form>

        <input type="hidden" name="_symgrid" value="{{ grid.identifier }}" />

        <input type="hidden" name="_orderPath" value="{% if grid.dataSource.appliedOrder %}{{ grid.dataSource.appliedOrder.path }}{% endif %}" />
        <input type="hidden" name="_orderDirection" value="{% if grid.dataSource.appliedOrder %}{{ grid.dataSource.appliedOrder.direction }}{% endif %}" />

        {% include 'ArneGroskurthSymgridBundle::table.html.twig' with {initial: true} %}

    </form>

</div>