
<tfoot>

    {% if grid.columnList.hasAggregatableColumns %}
        <tr class="aggregations">
            {% if grid.groupActions %}
                <td class="row-select row-select-all">
                    <label for="symgrid-{{ grid.identifier}}-row-select-all-foot">
                        <input type="checkbox" id="symgrid-{{ grid.identifier}}-row-select-all-foot" />
                    </label>
                </td>
            {% endif %}

            {% for column in grid.columnList %}
                {% if column.aggregation %}
                    {% set value = column.renderValue(grid.dataSource.aggregation(column)) %}
                    <td class="aggregation aggregation-{{ column.aggregation }} {{ column.classes|join(' ') }}">{% if value is null %}-{% else %}{{ value }}{% endif %}</td>
                {% else %}
                    <td>&nbsp;</td>
                {% endif %}
            {% endfor %}

            {% if grid.rowActions %}
                <td class="row-actions">&nbsp;</td>
            {% endif %}
        </tr>
    {% endif %}

    <tr class="toolbar">

        {% if grid.groupActions %}
            <td class="row-select row-select-all">
                {% if grid.columnList.hasAggregatableColumns %}
                    &nbsp;
                {% else %}
                    <label for="symgrid-{{ grid.identifier}}-row-select-all-foot">
                        <input type="checkbox" id="symgrid-{{ grid.identifier}}-row-select-all-foot" />
                    </label>
                {% endif %}
            </td>
        {% endif %}

        <td colspan="{{ grid.columnList.count }}" class="toolbar-items">

            <span class="count">
                <span class="total">{{ "data.count"|trans }}: {{ grid.dataSource.totalCount }}</span>
                {% if grid.pageable and grid.pageCount > 1 %}(<span class="displayed">{{ grid.displayedDataCount }}</span> {{ "data.displayed"|trans }}){% endif %}
            </span>

            {% if grid.pageable and grid.pageCount > 1 %}
            <span class="page">
                {{ "data.page"|trans }}:
                <label for="symgrid-{{ grid.identifier}}-page">
                    <select id="symgrid-{{ grid.identifier}}-page" name="_page">
                        {% for page in 1..grid.pageCount %}
                            <option {% if page == grid.currentPage %}selected{% endif %}>{{ page }}</option>
                        {% endfor %}
                    </select>
                </label>
                {{ "data.of"|trans }}
                <span class="total">{{ grid.pageCount }}</span>
            </span>
            {% endif %}

            {% if grid.exportable %}
                <span class="export">
                    {{ "data.export"|trans }}:
                    <a class="export-button fa fa-file-text-o" data-format="csv" title="CSV"></a>
                    <a class="export-button fa fa-file-excel-o" data-format="excel" title="Excel"></a>
                    <a class="export-button fa fa-file-code-o" data-format="html" title="HTML"></a>
                    <a class="export-button fa fa-file-pdf-o" data-format="pdf" title="PDF"></a>
                </span>
            {% endif %}

            {% if grid.groupActions %}
                <span class="groupActions">
                    <label for="symgrid-{{ grid.identifier}}-groupActions">
                        <select id="symgrid-{{ grid.identifier}}-groupActions" name="_groupAction">
                            <option selected></option>
                            {% for groupAction in grid.groupActions %}
                                <option data-target-url="{% if groupAction.targetUrl %}{{ groupAction.targetUrl }}{% elseif groupAction.targetAction %}{{ url(groupAction.targetAction) }}{% endif %}" data-parameter-name="{{ groupAction.parameterName }}" data-target="{{ groupAction.target }}" data-message="{% if groupAction.confirmationMessage %}{{ groupAction.confirmationMessage|trans }}{% endif %}" data-method="{{ groupAction.method }}" data-parameter-name="{{ groupAction.parameterName }}">{{ groupAction.title|trans }}</option>
                            {% endfor %}
                        </select>
                    </label>
                </span>
            {% endif %}

            <span class="submit">
                <input type="submit" value="{{ "filter.apply"|trans }}" />
                <input type="reset" value="{{ "filter.reset"|trans }}" />
            </span>

            <span class="loading-indicator"><img src="{{ asset('bundles/arnegroskurthsymgrid/img/reload.svg') }}" alt="{{ "loading"|trans }}" /> {{ "loading"|trans }}</span>

        </td>

        {% if grid.rowActions %}
            <td class="row-actions">&nbsp;</td>
        {% endif %}
    </tr>

</tfoot>