
<thead>
    <tr class="titles">
        {% if grid.groupActions %}
            <th class="row-select">&nbsp;</th>
        {% endif %}

        {% for column in grid.columnList %}
            <th class="{{ column.classes|join(' ') }}" data-column="{{ column.identifier }}" data-path="{{ column.dataPath }}" {% if column.headerTooltip %}data-tooltip="{{ column.headerTooltip|trans }}"{% endif %}>
                {% if grid.sortable and column.sortable %}
                    <a class="sort" href="#">{{ column.title|trans }}</a>
                {% else %}
                    {{ column.title|trans }}
                {% endif %}
            </th>
        {% endfor %}

        {% if grid.rowActions %}
            <th class="row-actions">&nbsp;</th>
        {% endif %}
    </tr>

{% if grid.filterable and grid.columnList.hasFilterableColumns %}
    <tr class="filters">
        {% if grid.groupActions %}
            <th class="row-select row-select-all">
                <label for="symgrid-{{ grid.identifier}}-row-select-all-head">
                    <input type="checkbox" id="symgrid-{{ grid.identifier}}-row-select-all-head" />
                </label>
            </th>
        {% endif %}

        {% for column in grid.columnList %}
            <th class="{{ column.classes|join(' ') }}">

                {% if column.filterDateExact %}
                    <label for="symgrid-{{ grid.identifier}}-filter-{{ column.identifier }}-equals">
                        <input type="date" class="filter {{ column.filter }}" id="symgrid-{{ grid.identifier}}-filter-{{ column.identifier }}-equals" name="_filter[{{ column.identifier }}][equals]" placeholder="{{ "filter.dateExact"|trans }}..." />
                    </label>
                {% elseif column.filterDateRange %}
                    <label for="symgrid-{{ grid.identifier}}-filter-{{ column.identifier }}-after">
                        <input type="date" class="filter {{ column.filter }}" id="symgrid-{{ grid.identifier}}-filter-{{ column.identifier }}-after" name="_filter[{{ column.identifier }}][after]" placeholder="{{ "filter.dateRange.after"|trans }}..." />
                    </label>
                    <label for="symgrid-{{ grid.identifier}}-filter-{{ column.identifier }}-before">
                        <input type="date" class="filter {{ column.filter }}" id="symgrid-{{ grid.identifier}}-filter-{{ column.identifier }}-before" name="_filter[{{ column.identifier }}][before]" placeholder="{{ "filter.dateRange.before"|trans }}..." />
                    </label>
                {% elseif column.filterNumericExact %}
                    <label for="symgrid-{{ grid.identifier}}-filter-{{ column.identifier }}-equals">
                        <input type="number" class="filter {{ column.filter }}" id="symgrid-{{ grid.identifier}}-filter-{{ column.identifier }}-equals" name="_filter[{{ column.identifier }}][equals]" placeholder="{{ "filter.numericExact"|trans }}..." />
                    </label>
                {% elseif column.filterNumericRange %}
                    <label for="symgrid-{{ grid.identifier}}-filter-{{ column.identifier }}-min">
                        <input type="number" class="filter {{ column.filter }}" id="symgrid-{{ grid.identifier}}-filter-{{ column.identifier }}-min" name="_filter[{{ column.identifier }}][min]" placeholder="{{ "filter.numericRange.min"|trans }}..." />
                    </label>
                    <label for="symgrid-{{ grid.identifier}}-filter-{{ column.identifier }}-max">
                        <input type="number" class="filter {{ column.filter }}" id="symgrid-{{ grid.identifier}}-filter-{{ column.identifier }}-max" name="_filter[{{ column.identifier }}][max]" placeholder="{{ "filter.numericRange.max"|trans }}..." />
                    </label>
                {% elseif column.filterSelect %}
                    <label for="symgrid-{{ grid.identifier}}-filter-{{ column.identifier }}-in">
                        <select class="filter {{ column.filter }}" id="symgrid-{{ grid.identifier}}-filter-{{ column.identifier }}-in" name="_filter[{{ column.identifier }}][in]">
                            <option></option>

                            {% if column.filterNullable %}
                                <option value="null">{{ "filter.null"|trans }}</option>
                            {% endif %}

                            <optgroup label="{{ "filter.select.values"|trans }}">
                                {% for value, alias in column.aliases %}
                                    <option value="{{ value }}">{{ alias|trans }}</option>
                                {% endfor %}
                            </optgroup>
                        </select>
                    </label>
                {% elseif column.filterStringContains %}
                    <label for="symgrid-{{ grid.identifier}}-filter-{{ column.identifier }}-contains">
                        <input type="search" class="filter {{ column.filter }}" id="symgrid-{{ grid.identifier}}-filter-{{ column.identifier }}-contains" name="_filter[{{ column.identifier }}][contains]" placeholder="{{ "filter.string.contains"|trans }}..." />
                    </label>
                {% elseif column.filterStringExact %}
                    <label for="symgrid-{{ grid.identifier}}-filter-{{ column.identifier }}-equals">
                        <input type="text" class="filter {{ column.filter }}" id="symgrid-{{ grid.identifier}}-filter-{{ column.identifier }}-equals" name="_filter[{{ column.identifier }}][equals]" placeholder="{{ "filter.string.equals"|trans }}..." />
                    </label>
                {% endif %}

                {% if column.filterNullable and not column.filterSelect %}
                    <label for="symgrid-{{ grid.identifier}}-filter-{{ column.identifier }}-null">
                        <select class="filter null" id="symgrid-{{ grid.identifier}}-filter-{{ column.identifier }}-null" name="_filter[{{ column.identifier }}][null]">
                            <option></option>
                            <option value="yes">{{ "filter.null"|trans }}</option>
                            <option value="no">{{ "filter.notNull"|trans }}</option>
                        </select>
                    </label>
                {% endif %}

            </th>
        {% endfor %}

        {% if grid.rowActions %}
            <th class="row-actions">&nbsp;</th>
        {% endif %}
    </tr>
{% endif %}

</thead>